
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  /* Color de fondo de la página */
}

.logo a {
  color: #a0cbac;
  /* Color del texto del logo */
}

.nav-link {
  color: #a0cbac;
  /* Color del texto del enlace de navegación */
}

.nav-link:hover {
  color: #007bff;
  /* Color del texto del enlace de navegación al pasar el ratón */
}

#hero {
  background-image: url('../img/fondoaguila.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

#hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#hero h2 {
  font-size: 4.2em;
  margin-bottom: 40px;
  color: #000000;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a0cbac;
  padding: 20px;
  /* Ajusta el padding para permitir más espacio para el texto */
  border-radius: 15px;
  /* Ajusta el radio de borde para un aspecto más redondeado */
  transition: 0.3s;
  border-width: 3px;
  border-style: solid;
  border-color: #347357;
  color: #ffffff;
  height: 100%;
  /* Garantiza que las cajas tengan la misma altura */
  overflow: hidden;
  /* Evita que el texto se desborde fuera de las cajas */
  /* Ajusta el ancho de las cajas para evitar que el texto se desborde */
  
  /* Ajusta el ancho según tus necesidades */
  margin: 10px;
}

.icon-box:hover {
  background-color: #246f64;

}

.icon-box i {
  font-size: 3em;
  /* Aumenta el tamaño de los íconos */
  margin-bottom: 15px;
  width: 100%;
  /* Ajusta el ancho del icono al 100% */
  text-align: center;
  /* Centra el icono dentro de su contenedor */
}

.icon-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
  /* Elimino el espaciado inferior del título de la caja de iconos */
}

.icon-box a {
  color: #0a0e0b;
}

.icon-box:hover a {
  color: #000000;
}

.nav-link:hover {
  color: #007bff;
}

.btn-custom {

  color: #438c6b;
  border: none;
  padding: 15px 20px;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  font-size: 55px;

}

.btn-custom .fa-reply {
  color: #438c6b;
  font-size: 85px;

  /* Ajusta el espacio entre el icono y el texto si es necesario */
}
